h1,
h2,
h3,
h4 {
    font-family: "Arvo", serif;
}

h5,
p {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3.5rem;
}

h4,
h5 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

h1,
h2,
.p--light {
    color: #fff;
}

h3,
h5,
.h4--dark {
    color: #000;
}

h4,
.h3--primary {
    color: #ffd000;
}

.button {
    width: 13.686rem;
    height: 5.6rem;
    border: 0.3rem solid #181d20;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    background-color: #ffd000;
    -webkit-transition: 450ms;
    transition: 450ms;
}
.button:hover {
    color: #ffd000;
    background-color: #000;
    border-color: #ffd000;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

img,
svg {
    width: 100%;
    height: 100%;
}

.header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    width: 95%;
    margin: 1.6rem auto 0;
}

.burger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5.9rem;
    height: 5.9rem;
    border-radius: 50%;
    background-color: #ffd000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.burger-button__icon {
    width: 3.125rem;
    height: 2.5rem;
    -webkit-transition: 450ms;
    transition: 450ms;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
}
.burger-button__icon:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.main__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 100%;
    height: 74.5rem;
    background: url("https://drive.google.com/uc?id=1XzlRA1Bqc3d9o6OPmMGiuDmPqVY8HZBU") no-repeat center;
    background-size: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.burger-icon {
    width: 11.625rem;
}
.burger-icon .buger-icon__path {
    fill: #fff;
}

.hero__title,
.hero__subtitle,
.burger-icon {
    margin-bottom: 4rem;
}

.hero__opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.quote__title {
    padding: 8rem 2rem;
    text-align: center;
    color: #ffd000;
    background-color: #181d20;
}

.circle-item-container {
    width: 7rem;
    height: 7rem;
    padding: 1rem;
    border: 0.3rem solid #181d20;
    border-radius: 50%;
    -webkit-transition: 900ms;
    transition: 900ms;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
}
.circle-item-container:hover {
    -webkit-transform: rotate(340deg);
            transform: rotate(340deg);
    background-color: #ffd000;
}
.circle-item-container .circle-item {
    width: 100%;
    height: 100%;
}

.main__menus {
    padding: 8rem 0;
    text-align: center;
}
.main__menus .menus__menu-tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7rem 1rem 7rem 1rem 7rem 1rem 7rem;
    grid-template-columns: repeat(4, 7rem);
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5.6rem 0 4rem;
}

.main__meal-menu-container .meal-menu__card {
    display: -ms-grid;
    display: grid;
    width: 90%;
    height: 40.3rem;
    padding: 4rem;
    margin: 3.2rem auto;
    border: 0.3rem solid #181d20;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main__meal-menu-container .meal-menu__card .buttom-price {
    -ms-grid-column-align: center;
        justify-self: center;
    font-family: "Arvo", serif;
    font-size: 2.5rem;
}
.main__meal-menu-container .button-orders {
    width: 20.5rem;
    margin-top: 4rem;
}

.main__challenge {
    display: -ms-grid;
    display: grid;
    padding: 8rem 4rem;
    background-color: #181d20;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main__challenge .challenge__text {
    margin: 2rem 0;
}

.challange__social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
    width: 87%;
}
.challange__social-media .social-media-container {
    background-color: #ffd000;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}