@import "./components/base";
@import "./tablet.scss";

.main__hero {
    background: url("https://drive.google.com/uc?id=1cccUkzNYmE33B1CziDMmNaWglBFSjqDa") no-repeat center;  
}

.main__meal-menu-container, .number-direction-container {
    max-width: 1024px;
}

.main__menus {
    .menus__menu-tabs {
        grid-gap: 8rem;
    }
}

.main__meal-menu-container {
    margin: 0 auto;
    .meal-menu__card {
        width: 30%;
    }
}

