-var classDiv= "social-media-container circle-item-container"

section.main__challenge   
    h4 #RetoStream 
    p.p--light.challenge__text Cuéntanos en redes sociales lo que más te gusta de Steam y obtén 15% de descuento.
    div.challange__social-media
       +circle-icon(classDiv, "1VO3_3G5BQ7W5grjddR-iYxZVgQrSF0Uw", "Facebook icon").social-media__item.circle-item
       +circle-icon(classDiv, "17XpmpfbJZsAYwn4mayQN1fRLrfs6TVV0", "Instagram icon").social-media__item.circle-item
       +circle-icon(classDiv, "110vPDHb_5Li3_mz6K19BVsldMvQ7LwQd", "Tiktok icon").social-media__item.circle-item