section.header__header-complete
    nav.header-complete__nav 
        ul.header-complete__ul 
            li.header-complete__item
                a(href="#").header-complete__text Home
            li.header-complete__item
                a(href="#").header-complete__text Nosotros
            li.header-complete__item
                a(href="#").header-complete__text Menú
            li.header-complete__item
                a(href="#").header-complete__text Promociones
            li.header-complete__item
                a(href="#").header-complete__text Contacto