section.footer__contact 
    h3 Contáctanos 
    section.number-direction-container
        .number-direction-container__phone
            h4.h4--dark Teléfono
            p 2338617
        .number-direction-container__direction
            h4.h4--dark Dirección 
            p Cra 11 # 10 Sur