-var mealMenuClassDiv = "meal-menu__card"
-var buttonPriceClass = "buttom-price"

section.main__menus 
    h3.menus__title Menú
    section.menus__menu-tabs
        +circle-icon("menu-tabs__items-container circle-item-container","1fD-us-Xb6hnME1tpKPs5RCFSnV5w2R1l", "Burger icon").menu-tabs__item.circle-item
        +circle-icon("menu-tabs__items-container  circle-item-container","1PP0cK9r2Ow2G0vXIH3HHv1LdYjkRsIQI", "Fries icon").menu-tabs__item.circle-item
        +circle-icon("menu-tabs__items-container  circle-item-container","1b-6jA6b-QJaONk4sWlYadIX9Zzz2PNKF", "Soda icon").menu-tabs__item.circle-item
        +circle-icon("menu-tabs__items-container  circle-item-container","13AAlR_dHExxxHrDAqitUSK4UUHv97fM3", "Ice cream icon").menu-tabs__item.circle-item
    section.main__meal-menu-container
        +meal-menu(mealMenuClassDiv, "Steam sencilla", "1 lb de res con queso, verdura y pan.", "$10.00", buttonPriceClass)
        +meal-menu(mealMenuClassDiv, "Steam doble", "1 lb de res con queso, verdura y pan.", "$15.00", buttonPriceClass)
        +meal-menu(mealMenuClassDiv, "Steam especial", "1 lb de res con queso, verdura y pan.", "$20.00", buttonPriceClass)
    +button("Ver mi pedido (2)").button-orders