mixin estilos-head(estilos)
    link(rel="stylesheet", href="../css/"+estilos)

mixin estilos-head-responsive(estilosResponsive) 
    link(rel="stylesheet", href="../css/"+estilosResponsive media="screen and (min-width: 800px)")

mixin button(contenido)
    button.button(class!=attributes.class)=contenido