@import "./_variables.scss";
@import "./_colors-themes-primary.scss";
@import "./_typography.scss";
@import "./_mixins.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

img,
svg {
    width: 100%;
}