.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 1.6rem auto 0;
}

.burger-button {
    display: flex;
    width: 5.9rem;
    height: 5.9rem;
    border-radius: 50%;
    background-color: $color-primary;
    @include everything-centered;
}

.burger-button__icon {
    width: 3.125rem;
    height: 2.5rem;
}    