.main__menus {
    padding: 8rem 0;
    text-align: center;

    .menus__menu-tabs {
        display: grid;
        grid-template-columns: repeat(4, 7rem);
        grid-gap: 1rem;
        justify-content: center;
        margin: 5.6rem 0 4rem;
    }
}

.main__meal-menu-container {
    .meal-menu__card {
        display: grid;
        width: 90%;
        height: 40.3rem;
        padding: 4rem;
        margin: 3.2rem auto;
        border: 0.3rem solid $color-secondary;
        @include everything-centered;

        .buttom-price {
            justify-self: center;
            font-family: $font-primary;
            font-size: 2.5rem;
        }
    }
}

.button-orders {
    width: 20.5rem;
    margin-top: 4rem;
}