extend  ../_head.pug
block others-styles
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet")
    +estilos-head("style.css")
    +estilos-head-responsive("tablet.css", "800")
    +estilos-head-responsive("desktop.css", "1200")
    title Steam Burger